@media screen and (min-width: 850px) {
    .services--section {
        padding-top: 40px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5rem;
    }

    .services--about {
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        margin-top: 2rem;
        text-align: justify;
    }

    .services--grid {
        display: -webkit-box;
        display: flex;
        gap: 20px;
        -webkit-box-align: center;
        align-items: center;
    }

    .services {
        background: rgb(74, 73, 73);
        border-radius: 4px;
        text-align: center;
        -webkit-box-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: 2px solid #000;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .services:hover {
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    }

    .first--service h4 {
        color: #F028FD;
    }

    .first--service:hover {
        border: 2px solid #F028FD;
    }

    .second--service h4 {
        color: #D8CCE6;
    }

    .second--service:hover {
        border: 2px solid #D8CCE6;
    }

    .third--service h4 {
        color: #2BDEAC;
    }

    .third--service:hover {
        border: 2px solid #2BDEAC;
    }

    .services>* {
        flex: 1 1 100%;
    }

    .services img {
        max-width: 10rem;
        justify-content: center;
        justify-items: center;
    }

    .services--note {
        padding-left: 10px;
        padding-right: 10px;
    }
}