@media screen and (min-width: 850px) {
    .projects--section {
        padding-top: 40px;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 5rem;
    }

    .carousel--container {
        padding: 0px 30px 0px 30px;
    }

    .carousel--about {
        display: flex;
        justify-content: space-between;
        margin-top: -4rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    .carousel--link {
        display: flex;
        gap: 10px;
    }

    .carousel--details {
        display: flex;
        gap: 10px;
    }

    .carousel--text {
        background: rgb(74, 73, 73);
        padding: 10px 20px;
    }

    .carousel--text--link {
        text-decoration: none;
        color: #fff;
    }

    .carousel--text--link:hover {
        color: #ff4655;
        transition: .5s;
    }

    .projects--tab {
        display: none;
    }
}

@media screen and (min-width: 501px) and (max-width: 850px) {
    .projects--carousel--container {
        display: none;
    }

    .projects--tab {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .projects--tab--container {
        display: flex;
        gap: 10px;
        background: rgb(39, 39, 39);
        border-radius: 5px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        padding: 5px 10px 5px 10px;
    }

    .projects--image {
        width: 150px;
        height: 100px;
    }

    .projects--details {
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    .projects--header {
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
    }

    .projects--link {
        display: flex;
        gap: 10px;
        font-size: 15px;
        flex-wrap: wrap;
    }

    .projects--link--text {
        text-decoration: none;
        color: rgb(188, 188, 188);
        background-color: rgb(74, 73, 73);
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
    }

    .projects--about {
        font-size: 10px;
        text-align: center;
        font-weight: bold;
    }  

    .projects--left--container {
        display: flex;
        flex-direction: column;
    } 
}

@media screen and (max-width: 501px) {
    .projects--carousel--container {
        display: none;
    }

    .projects--tab {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }

    .projects--tab--container {
        display: flex;
        gap: 10px;
        background: rgb(39, 39, 39);
        /* background: rgb(149, 148, 148); */
        border-radius: 5px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        padding: 10px 10px 0px 10px;
    }

    .projects--image {
        width: 150px;
        height: 100px;
    }

    .projects--details {
        display: flex;
        flex-direction: column;
        height: 100px;
    }

    .projects--header {
        font-size: 15px;
        font-weight: bold;
        margin-top: 10px;
    }

    .projects--link {
        display: flex;
        gap: 10px;
        font-size: 15px;
        flex-wrap: wrap;
    }

    .projects--link--text {
        text-decoration: none;
        color: rgb(188, 188, 188);
        background-color: rgb(74, 73, 73);
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
    }

    .projects--about {
        font-size: 10px;
        text-align: center;
        font-weight: bold;
    }  

    .projects--left--container {
        display: flex;
        flex-direction: column;
    }
}

.thumbs-wrapper,
.carousel-status {
    display: none;
}