@media screen and (min-width: 850px) {
    .tech--section {
        display: flex;
        gap: 5rem;
        margin-top: 5rem;
    }

    .featured {
        display: none;
    }

    .tech--render {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }

    .tech--container {
        display: flex;
        gap: 5px;
        margin-top: -3px;
        margin-bottom: -5px;
    }

    .tech--image {
        width: 25px;
    }

    .tech--prop {
        background: rgb(74, 73, 73);
        border-radius: 3px;
        padding: 0px 5px 0px 5px;
    }

    .tech--word {
        color: rgb(212, 211, 211);
        font-weight: bold;
    }
}

@media screen and (min-width: 501px) and (max-width: 850px) {
    .tech--render {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }

    .tech--container {
        display: flex;
        gap: 5px;
        margin-top: -3px;
        margin-bottom: -5px;
    }

    .tech--image {
        width: 15px;
    }

    .tech--prop {
        background: rgb(74, 73, 73);
        border-radius: 3px;
        padding: 0px 5px 0px 5px;
    }

    .tech--word {
        color: rgb(212, 211, 211);
        font-weight: bold;
    }
}

@media screen and (max-width: 501px) {
    .tech--render {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }

    .tech--container {
        display: flex;
        gap: 5px;
        margin-top: -3px;
        margin-bottom: -5px;
    }

    .tech--prop {
        background: rgb(74, 73, 73);
        border-radius: 3px;
        padding: 0px 5px 0px 5px;
        height: 25px;
    }

    .tech--word {
        color: rgb(212, 211, 211);
        font-weight: bold;
    }

    .tech--image {
        width: 15px;
    }

    .featured {
        display: none;
    }
}