@media screen and (min-width: 850px) {
    /* .services--section {
        background: #161415 url(services.jpg) no-repeat top center;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        overflow: hidden;
        background-attachment: fixed;
        height: 100vh;
        position: relative;
    } */
}