@media screen and (min-width: 850px) {
  .about--section {
    padding-top: 40px;
    width: 80%;
    margin-left: 10%;
  }

  .about--details {
    display: flex;
    gap: 30px;
  }

  .about--image {
    width: 200px;
    height: 200px;
    padding-top: 15px;
  }

  .about--note {
    font-size: 15px;
  }

  .img-container {
    position: relative;
    transform-origin: center -15%;
    animation: swing 0.8s ease-in-out infinite alternate;
  }

  @keyframes swing {
    from {
      transform: rotate(-6deg);
    }

    to {
      transform: rotate(6deg);
    }
  }

  .img-container img {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .img-container::before,
  .img-container::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;
    border: 1px solid #131313;
  }

  .img-container::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff4655;
    box-shadow: 0 0 10px #ff4655;
  }

  .img-container::after {
    width: 8px;
    height: 80px;
    border-radius: 10px;
    z-index: -1;
  }
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .about--image {
    display: none;
  }
}

@media screen and (max-width: 501px) {
  .about--image {
    display: none;
  }
}


.about--note {
  text-align: justify;
}